In [2]:
import os
import numpy as np
import pandas as pd
import csv

In [3]:
users_tweets = pd.read_csv(r"C:\Users\munth\Desktop\Uni\Machine Learning\Project\Users.csv", encoding='latin-1')
users_tweets.head(n=10)

,text,time
0,Canât stand a person who canât do shit wit...,2019-06-01 19:46:53+00:00
1,They must have been brainwashed or something....,2019-05-30 16:38:43+00:00
2,Lmao you literally think a sign of Muslim dom...,2019-05-30 13:08:12+00:00
3,Raptors in 4,2019-05-31 04:17:56+00:00
4,This asshole is subverting American government,2019-05-30 13:18:10+00:00
5,Awesome superb trailerð,2019-05-31 04:46:43+00:00
6,Where have you been. We haven't played a g...,2019-06-01 19:44:04+00:00
7,I hope bear eats Barr in Alaska!! -,2019-06-01 19:44:01+00:00
8,I just donated to ! The next few letters and t...,2019-05-31 04:38:01+00:00
9,Youâre beautiful!! Keep doing your brows!! ð,2019-05-30 16:38:11+00:00

In [4]:
users_tweets.isnull().sum()

text    0
time    0
dtype: int64

In [5]:
users_tweets.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 55512 entries, 0 to 55511
Data columns (total 2 columns):
text    55512 non-null object
time    55512 non-null object
dtypes: object(2)
memory usage: 867.5+ KB

In [6]:
#split time and date into two columns
users_tweets[['date','time']]= users_tweets.time.str.split(" ",expand=True)
users_tweets.head()

,text,time,date
0,Canât stand a person who canât do shit wit...,19:46:53+00:00,2019-06-01
1,They must have been brainwashed or something....,16:38:43+00:00,2019-05-30
2,Lmao you literally think a sign of Muslim dom...,13:08:12+00:00,2019-05-30
3,Raptors in 4,04:17:56+00:00,2019-05-31
4,This asshole is subverting American government,13:18:10+00:00,2019-05-30

In [7]:
users_tweets[['time','time2']]= users_tweets.time.str.split("+",expand=True)
users_tweets.head()

,text,time,date,time2
0,Canât stand a person who canât do shit wit...,19:46:53,2019-06-01,00:00
1,They must have been brainwashed or something....,16:38:43,2019-05-30,00:00
2,Lmao you literally think a sign of Muslim dom...,13:08:12,2019-05-30,00:00
3,Raptors in 4,04:17:56,2019-05-31,00:00
4,This asshole is subverting American government,13:18:10,2019-05-30,00:00

In [8]:
#delete the timestamp with all 0s
users_tweets.drop(users_tweets.columns[3], axis=1, inplace=True)

In [9]:
users_tweets.head()

                                                text      time        date
0  Canât stand a person who canât do shit wit...  19:46:53  2019-06-01
1   They must have been brainwashed or something....  16:38:43  2019-05-30
2   Lmao you literally think a sign of Muslim dom...  13:08:12  2019-05-30
3                                       Raptors in 4  04:17:56  2019-05-31
4     This asshole is subverting American government  13:18:10  2019-05-30

In [10]:
users_tweets.isnull().sum()

text    0
time    2
date    0
dtype: int64

In [11]:
#users_tweets.to_csv(r'C:\Users\munth\Desktop\Uni\Machine Learning\Project\Users1.csv', index=False) # reformatting the date and time

In [12]:
users_tweets = pd.read_csv(r"C:\Users\munth\Desktop\Uni\Machine Learning\Project\Users1.csv", encoding='latin-1')
users_tweets.head()

                                                text   time     date
0  CanÃ¢ÂÂt stand a person who canÃ¢ÂÂt do sh...  19:46   6/1/19
1   They must have been brainwashed or something....  16:38  5/30/19
2   Lmao you literally think a sign of Muslim dom...  13:08  5/30/19
3                                       Raptors in 4   4:17  5/31/19
4     This asshole is subverting American government  13:18  5/30/19

In [13]:
users_tweets.isnull().sum()

text    0
time    2
date    0
dtype: int64

In [14]:
null = users_tweets[users_tweets.isna().any(axis=1)]
null

       text time  date
10450  text  NaN  time
44597  text  NaN  time

In [15]:
users_tweets.dropna(subset=['time'], how='all', inplace=True)
users_tweets.isnull().sum()

text    0
time    0
date    0
dtype: int64

In [16]:
users_tweets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55510 entries, 0 to 55511
Data columns (total 3 columns):
text    55510 non-null object
time    55510 non-null object
date    55510 non-null object
dtypes: object(3)
memory usage: 1.7+ MB

In [17]:
users_tweets[['Hours','Minutes']]= users_tweets.time.str.split(":",expand=True) #split time to hours and minutes
users_tweets.drop(users_tweets.columns[1], axis=1, inplace=True) #delete the "time" column
users_tweets.drop(users_tweets.columns[3], axis=1, inplace=True) #delete the "minutes" column
users_tweets.head()

                                                text     date Hours
0  CanÃ¢ÂÂt stand a person who canÃ¢ÂÂt do sh...   6/1/19    19
1   They must have been brainwashed or something....  5/30/19    16
2   Lmao you literally think a sign of Muslim dom...  5/30/19    13
3                                       Raptors in 4  5/31/19     4
4     This asshole is subverting American government  5/30/19    13

In [18]:
users_tweets['Is_Trump'] = 0
users_tweets.head()

                                                text     date Hours  Is_Trump
0  CanÃ¢ÂÂt stand a person who canÃ¢ÂÂt do sh...   6/1/19    19         0
1   They must have been brainwashed or something....  5/30/19    16         0
2   Lmao you literally think a sign of Muslim dom...  5/30/19    13         0
3                                       Raptors in 4  5/31/19     4         0
4     This asshole is subverting American government  5/30/19    13         0

In [19]:
users_tweets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55510 entries, 0 to 55511
Data columns (total 4 columns):
text        55510 non-null object
date        55510 non-null object
Hours       55510 non-null object
Is_Trump    55510 non-null int64
dtypes: int64(1), object(3)
memory usage: 2.1+ MB

In [20]:
users_tweets.to_csv(r'C:\Users\munth\Desktop\Uni\Machine Learning\Project\Users2.csv', index=False) #upload final csv for merge3