In [2]:
import os
import numpy as np
import pandas as pd
import csv

In [3]:
trump_tweets = pd.read_csv(r"C:\Users\munth\Desktop\Uni\Machine Learning\Project\Data.csv", encoding='latin-1')
trump_tweets.head(n=10)

,text,created_at,retweet_count,favorite_count,is_retweet
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,âThe Chinese say (about Trumpâs Trade War ...,11/11/2019 14:25,8563.0,30193.0,False
4,Shifty Adam Schiff will only release doctored ...,11/11/2019 14:20,15705.0,52024.0,False
5,The lawyer for the Whistleblower takes away al...,11/11/2019 14:12,12191.0,42564.0,False
6,So with one Rally by me at the end of the camp...,11/11/2019 14:09,9291.0,36518.0,False
7,Will be meeting with representatives of the Va...,11/11/2019 14:00,9002.0,39450.0,False
8,HAPPY VETERANS DAY!,11/11/2019 13:42,22026.0,109985.0,False
9,https://t.co/5NgNEZJm8G https://t.co/R5b47GeEp4,11/11/2019 11:25,10952.0,39455.0,False

In [4]:
trump_tweets.isnull().sum()

text                 6
created_at        1685
retweet_count     1685
favorite_count    1685
is_retweet        1743
dtype: int64

In [5]:
trump_tweets=trump_tweets.drop([0,1,2],axis=0)#remove first 3 NULL rows
trump_tweets.head(n=10)

,text,created_at,retweet_count,favorite_count,is_retweet
3,âThe Chinese say (about Trumpâs Trade War ...,11/11/2019 14:25,8563.0,30193.0,False
4,Shifty Adam Schiff will only release doctored ...,11/11/2019 14:20,15705.0,52024.0,False
5,The lawyer for the Whistleblower takes away al...,11/11/2019 14:12,12191.0,42564.0,False
6,So with one Rally by me at the end of the camp...,11/11/2019 14:09,9291.0,36518.0,False
7,Will be meeting with representatives of the Va...,11/11/2019 14:00,9002.0,39450.0,False
8,HAPPY VETERANS DAY!,11/11/2019 13:42,22026.0,109985.0,False
9,https://t.co/5NgNEZJm8G https://t.co/R5b47GeEp4,11/11/2019 11:25,10952.0,39455.0,False
10,https://t.co/LEjupyeKxw https://t.co/tox0vh5bbd,11/11/2019 3:44,9282.0,35296.0,False
11,A great new book just out âThe Plot Against ...,11/11/2019 2:25,10604.0,33071.0,False
12,If Iran is able to turn over to the U.S. kidna...,11/11/2019 2:25,16935.0,65732.0,False

In [6]:
trump_tweets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39491 entries, 3 to 39493
Data columns (total 5 columns):
text              39488 non-null object
created_at        37809 non-null object
retweet_count     37809 non-null float64
favorite_count    37809 non-null float64
is_retweet        37751 non-null object
dtypes: float64(2), object(3)
memory usage: 1.8+ MB

In [7]:
trump_tweets.drop(trump_tweets.columns[2], axis=1, inplace=True) #remove last 3 rows favorites,isretweet,retweet count
trump_tweets.drop(trump_tweets.columns[2], axis=1, inplace=True)
trump_tweets.drop(trump_tweets.columns[2], axis=1, inplace=True)
trump_tweets.head()

                                                text        created_at
3  âThe Chinese say (about Trumpâs Trade War ...  11/11/2019 14:25
4  Shifty Adam Schiff will only release doctored ...  11/11/2019 14:20
5  The lawyer for the Whistleblower takes away al...  11/11/2019 14:12
6  So with one Rally by me at the end of the camp...  11/11/2019 14:09
7  Will be meeting with representatives of the Va...  11/11/2019 14:00

In [8]:
trump_tweets.isnull().sum()

text             3
created_at    1682
dtype: int64

In [9]:
trump_tweets.dropna(subset=['text'], inplace=True) #remove rows with NULL values
trump_tweets.isnull().sum()

text             0
created_at    1679
dtype: int64

In [10]:
trump_tweets["created_at"].describe()

count             37809
unique            35720
top       1/5/2015 3:26
freq                  5
Name: created_at, dtype: object

In [11]:
trump_tweets[['date','time']]= trump_tweets.created_at.str.split(" ",expand=True)
#split the timestamp attribute into date and time

In [12]:
trump_tweets.head()

,text,created_at,date,time
3,âThe Chinese say (about Trumpâs Trade War ...,11/11/2019 14:25,11/11/2019,14:25
4,Shifty Adam Schiff will only release doctored ...,11/11/2019 14:20,11/11/2019,14:20
5,The lawyer for the Whistleblower takes away al...,11/11/2019 14:12,11/11/2019,14:12
6,So with one Rally by me at the end of the camp...,11/11/2019 14:09,11/11/2019,14:09
7,Will be meeting with representatives of the Va...,11/11/2019 14:00,11/11/2019,14:00

In [13]:
trump_tweets.drop(trump_tweets.columns[1], axis=1, inplace=True) #deleted the created_at column

In [14]:
trump_tweets.head()

                                                text        date   time
3  âThe Chinese say (about Trumpâs Trade War ...  11/11/2019  14:25
4  Shifty Adam Schiff will only release doctored ...  11/11/2019  14:20
5  The lawyer for the Whistleblower takes away al...  11/11/2019  14:12
6  So with one Rally by me at the end of the camp...  11/11/2019  14:09
7  Will be meeting with representatives of the Va...  11/11/2019  14:00

In [15]:
trump_tweets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39488 entries, 3 to 39493
Data columns (total 3 columns):
text    39488 non-null object
date    37809 non-null object
time    37809 non-null object
dtypes: object(3)
memory usage: 1.2+ MB

In [18]:
#trump_tweets.to_csv(r"C:\Users\munth\Desktop\Uni\Machine Learning\Project\Data1.csv", index=False)# reformatting the time and date columns

In [16]:
trump_tweets.isnull().sum()

text       0
date    1679
time    1679
dtype: int64

In [17]:
trump_tweets.head()

                                                text        date   time
3  âThe Chinese say (about Trumpâs Trade War ...  11/11/2019  14:25
4  Shifty Adam Schiff will only release doctored ...  11/11/2019  14:20
5  The lawyer for the Whistleblower takes away al...  11/11/2019  14:12
6  So with one Rally by me at the end of the camp...  11/11/2019  14:09
7  Will be meeting with representatives of the Va...  11/11/2019  14:00

In [18]:
trump_tweets[['Hours','Minutes']]= trump_tweets.time.str.split(":",expand=True) #split time to hours and minutes
trump_tweets.drop(trump_tweets.columns[2], axis=1, inplace=True) #delete the "time" column
trump_tweets.drop(trump_tweets.columns[3], axis=1, inplace=True) #delete the "minutes" column
trump_tweets.head()

                                                text        date Hours
3  âThe Chinese say (about Trumpâs Trade War ...  11/11/2019    14
4  Shifty Adam Schiff will only release doctored ...  11/11/2019    14
5  The lawyer for the Whistleblower takes away al...  11/11/2019    14
6  So with one Rally by me at the end of the camp...  11/11/2019    14
7  Will be meeting with representatives of the Va...  11/11/2019    14

In [19]:
trump_tweets['Is_Trump'] = 1
trump_tweets.head()

,text,date,Hours,Is_Trump
3,âThe Chinese say (about Trumpâs Trade War ...,11/11/2019,14,1
4,Shifty Adam Schiff will only release doctored ...,11/11/2019,14,1
5,The lawyer for the Whistleblower takes away al...,11/11/2019,14,1
6,So with one Rally by me at the end of the camp...,11/11/2019,14,1
7,Will be meeting with representatives of the Va...,11/11/2019,14,1

In [20]:
trump_tweets.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 39488 entries, 3 to 39493
Data columns (total 4 columns):
text        39488 non-null object
date        37809 non-null object
Hours       37809 non-null object
Is_Trump    39488 non-null int64
dtypes: int64(1), object(3)
memory usage: 1.5+ MB

In [21]:
trump_tweets.to_csv(r"C:\Users\munth\Desktop\Uni\Machine Learning\Project\Data2.csv", index=False) #upload final csv to merge